extends layout

block content
  h1= title

   h1  Gew체rze, #{state[0]}

  if error
    p Ein Fehler ist aufgetreten.
  else
    p Es wurden insgesamt #[b #[u #{count}]] Eintr채ge gefunden:
    ul
     each val, index in name
      li #[strong Gew체rz:] #{name[index]}
      li #[strong Passt zu:] #{goesWith[index]}
      li #[strong Zustand:] #{state}
      li #[strong Status:] #{inStock[index]}
      hr

    
    form(action='/produkte/gewuerze/suche')
     input.btn.btn-primary.m-2(type='submit', value='Zur체ck')