extends layout

block content
  h1(class="p-3")  Gewürze, #{state[0]}
  if error
    p Ein Fehler ist aufgetreten.
  else
  div(class="container p-4")
    div(class="row")
       each val, index in name
         div(class=" col-sm-5 col-lg-3 border m-1 text-center p-2")
          h4(class="pb-1") #{name[index]}
          img(class="img-fluid" src= "" + thumbnail[index] width="150" height="150") 
          p Passt gut zu:  #{goesWith[index]}
          p Zustand: #{state[index]}
          p Bestand: #{inStock[index]}
        
        

    
    form(action='/produkte/gewuerze/suche')
     input(class="btn btn-main m-2" type='submit', value='Zurück')