extends layout

block content
 div(class="container-fluid p-3")
  div(class="row")
   div(class="col")
    h1 Alle Gewürzeinträge 
  if error
    p Ein Fehler ist aufgetreten.
  else
    p Es wurden insgeamt #[b #[u #{count}]] Einträge gefunden:
    ul
     each val, index in name
      li #[strong Gewürz:] #{name[index]}
      li #[strong Passt zu:] #{goesWith[index]}
      li #[strong Zustand:] #{state[index]}
      li #[strong Status:] #{inStock[index]}
      hr
      
    
    form(action='/produkte/gewuerze/suche')
     input.btn.btn-primary.m-2(type='submit', value='Zurück')